.contact-page {
  background: linear-gradient(180deg, #ffffff 0%, #cac4bb 100%);
  min-height: 100vh;
  padding: 100px 60px;
  color: #cfcfcf;
}

.contact-container {
    margin-left: 30px;
  margin-top: 30px;
  max-width: 1400px;
  /* margin: auto; */
  /* text-align: center; */
}

.contact-container h1 {
  font-size: 40px;
  color: #9e7b0a;
  margin-bottom: 30px;
}

/* CONTACT INFO */
.contact-info p {
  color: #000000;
  font-size: 18px;
  margin-bottom: 12px;
}

.contact-info a {
  color: #000000;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.sales-numbers p {
  display: flex;
  gap: 10px;
  margin: 6px 0;
}

.sales-numbers .label {
  width: 70px;   /* aligns all numbers */
  font-weight: 600;
}

